<%- include ('includes/top.ejs') %>
<body>
    <form action="/users" method="post">
        <label for="user">User</label>
        <input type="text" name="user" id="user">
        <button type="submit">Submit</button>
    </form>
<%- include ('includes/bottom.ejs') %>